section.album-page {
  background-color: #121212;
  min-height: calc(100vh - 4rem);
  max-height: 100%;
  color: white;
  font-family: 'Circular';
}

section.album-page div.d-flex {
  min-height: 176px;
  padding: 2rem 0rem 0rem;
}
section.album-page div.left {
  max-width: 144px;
  max-height: 144px;
}

section.album-page div.next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}

section.album-page div.next h1 {
  margin: 0rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  section.album-page div.next h1 {
    font-size: 1rem;
  }
}

section.album-page div.tracks {
  padding: 1rem 0rem;
}

section.album-page div.tracks div.disc-number span {
  width: calc(5% + 0.5rem);
}
section.album-page div.tracks div.track {
  padding: 1rem 0.25rem;
  display: flex;
  width: 100%;
}

section.album-page div.tracks div.track:focus,
section.album-page div.tracks div.track:hover {
  background-color: #333333;
  border-radius: 4px;
}

section.album-page div.tracks div.track div.track-number {
  width: 5%;
  display: flex;
  justify-content: flex-start;
}
section.album-page div.tracks div.track div.track-name {
  width: 80%;
  padding: 0rem 0.5rem;
  word-wrap: break-word;
}
section.album-page div.tracks div.track button.favorite {
  width: 10%;
  border: none;
  background: none;
  color: inherit;
  display: flex;
  justify-content: flex-end;
  padding: 0rem;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  section.album-page div.tracks div.track div.track-number {
    width: 10%;
  }

  section.album-page div.tracks div.disc-number span {
    width: calc(10% + 0.5rem);
  }
}
