section.home-page {
  background-color: #121212;
  min-height: calc(100vh - 4rem);
  font-family: 'Circular';
  color: white;
}

section.home-page h1 {
  font-size: 2rem;
  padding: 2rem 0rem;
  font-family: 'Circular';
  color: white;
  /* margin: 0; */
}

section.home-page h1 div#app-name {
  font-size: 2.5rem;
  color: #1db954;
}

section.home-page h4 {
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

section.home-page h2.favorites {
  color: #1db954;
  padding: 2rem 0rem 1rem;
  margin: 0;
}

section.home-page div.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.home-page div.favorites div.track-card {
  position: relative;
  margin: 1rem 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  min-height: 266px;
  width: 190px;
  padding: 1.25rem 1.25rem 1rem;
  border-radius: 0.25rem;
  background-color: #282828;
}

section.home-page div.favorites div.track-card:hover,
section.home-page div.favorites div.track-card:focus {
  background-color: #ffffff30;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 1);
}

section.home-page div.favorites div.track-card img {
  border-radius: 0.25rem;
  min-height: 150px;
  width: 150px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
section.home-page div.favorites div.track-card p.track-name {
  align-self: flex-start;
  margin: 1rem 0rem 0rem;
}

section.home-page div.favorites div.track-card div.artists a,
section.home-page div.favorites div.track-card div.artists a:hover,
section.home-page div.favorites div.track-card div.artists a:hover {
  font-size: 0.75rem;
  color: #b3b3b3;
}

section.home-page div.favorites div.track-card div.artists {
  align-self: flex-start;
}
section.home-page div.favorites div.track-card div.artists a::after {
  content: ', ';
}

section.home-page div.favorites div.track-card div.artists a:last-child::after {
  content: '';
}

section.home-page div.favorites div.track-card div.removeFav button {
  color: #1db954;
  border: none;
  background: none;
}

button.homePlayBtn {
  opacity: 0;
  margin: 50px 50px;
}

button.homePlayBtn:hover,
button.homePlayBtn:focus {
  opacity: 1;
}

.iconBgColor {
  background-color: white;
}

@media screen and (max-width: 600px) {
  section.home-page div.favorites {
    justify-content: center;
  }
  section.home-page div.favorites {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;
  }
  section.home-page div.favorites div.track-card {
    margin-right: 0.5rem;
    padding: 0rem 0rem 0rem;
    width: 150px;
    height: auto;
  }
  section.home-page div.favorites div.track-card img {
    background: none;
    box-shadow: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  section.home-page div.favorites div.track-card p.track-name {
    padding-left: 0.5rem;
  }
  section.home-page div.favorites div.track-card div.artists {
    padding-left: 0.5rem;
  }
}
