form.artist-search {
  background-color: white;
  border-radius: 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  min-width: fit-content;
}

form.artist-search span {
  padding: 0rem 1rem;
}

form.artist-search span svg {
  font-size: 1.5rem;
  color: #00000090;
}

form.artist-search input {
  background: transparent;
  border: none;
  min-width: calc(100% - 5rem);
  padding-right: 1rem;
}

nav div form.artist-search {
  height: 2.5rem;
  align-self: center;
  margin-left: 1rem;
}

nav div form.artist-search::placeholder {
  font-family: 'Circular';
}

@media screen and (max-width: 576px) {
  nav div form.artist-search {
    margin: 1rem 0rem;
  }
}
