div.card.artist-card {
  background-color: #282828;
  width: 266px;
  height: 336px;
  margin: 1rem 0rem;
}

div.card.artist-card a,
div.card.artist-card a:hover,
div.card.artist-card a:focus {
  color: white;
  text-decoration: none;
}

div.card.artist-card img,
div.card.artist-card div.artistFallBack {
  border-radius: 50%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  background-color: #333333;
  width: 234px;
  height: 234px;
  color: #b3b3b3;
}
