section.artist-search {
  background-color: #121212;
  min-height: calc(100vh - 4rem);
  max-height: 100%;
  color: white;
  font-family: 'Circular';
}

section.artist-search h1 {
  font-size: 3rem;
  color: #1db954;
  padding: 2rem 0rem 0rem 0rem;
  margin: 0rem;
}
section.artist-search div.results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.MuiBreadcrumbs-separator {
  color: white;
}

.MuiBreadcrumbs-ol {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 600px) {
  section.artist-search div.results {
    justify-content: center;
  }
}
