@import '../src/components/navbar/Navbar.css';
@import '../src/components/login/Login.css';
@import '../src/components/profile/ProfileAvatar.css';
@import '../src/components/home/Home.css';
@import '../src/components/search/Search.css';
@import '../src/components/SearchResult/SearchResult.css';
@import '../src/components/SearchResult/ArtistCard.css';
@import '../src/components/Artist/Artist.css';
@import '../src/components/Album/Album.css';

@font-face {
  font-family: 'Circular';
  src: url('../src/assets/fonts/CircularStdMedium.ttf');
}

body::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #121212;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 1rem;
}
